# .gitignore for Zynk Project

# .NET / Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.sln.docstates
*.db
.env
Blog.API/appsettings.Local.json

# User Uploads
Blog.Web/uploads/*
!Blog.Web/uploads/.gitkeep

# Operating System
[Th]umbs.db
*.DS_Store
# Secrets
firebase-key.json
Blog.API/firebase-key.json
